/********* Dimensioni Desktop *********/


@media screen and (min-width: 1200px) {
    
    /******** Regole generali *********/

    .container {
        width: 70%;
    }

    /********* Regole Header ***********/

    #hamburger {
        display: none;
    }

    #list-nav {
        display: block;
    }

    #list-nav ul{
        display: flex;
        list-style-type: none;
        gap: 20px;
    }

    header a{
        text-decoration: none;
        color: #fff;
        font-size: 20px;
    }

    .button-link{
        border-radius: 20px;
        padding: 8px 10px;
        background-color: #fff;
        color: #000;
    }


    /********* Regole css section applicazioni *********/

    .first-col{
        display: flex;
    }

    .first-col .app-text{
        padding-left: 20px;
    }

    .app-img{
        align-self: flex-end;
    }

    .app-img img{
        width: 70%;
    }


    /********* Regole Planning Section ********/

    #planning .container{
        display: flex;
        gap: 100px;
    }

    .planning-card-border{
        margin-top: 200px;
    }


    /************ Regole testimonials section ***************/

    .testimonial-img{
        width: 60%;
    }


    /********* Regole section benefits  **********/

    .benefits-card{
        width: calc(100% / 3 - 20px)
    }


    
}