/********* Dimensioni Desktop *********/


@media screen and (min-width: 1200px) {
    
    /******** Regole generali *********/

    .container {
        width: 70%;
    }

    /********* Regole Header ***********/

    #hamburger {
        display: none;
    }

    #list-nav {
        display: block;
    }

    #list-nav ul{
        display: flex;
        list-style-type: none;
        gap: 20px;
    }


    /********* Regole Planning Section ********/

    #planning .container{
        display: flex;
        gap: 20px;
    }
    
}