/******** Regole generali *********/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 85%;
    margin: 0 auto;
    height: 100%;
    /* DEBUG
    background-color: green;
    height: 100%; */
}

body{
    font-family: "PT Sans", sans-serif;
}

main{
    padding-top: 100px;
}


/******* REGOLE CSS HEADER ********/

header{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 900;
    background-color: #0084fd;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#list-nav{
    display: none;
}

.fa-bars{
    color: #fff;
    font-size: 30px;
}


/********** REGOLE CSS MAIN **********/


/* Regole section applicazioni */

.card{
    border-radius: 20px;
    margin: 20px 0;
    padding: 20px;
}

.col{
    background-color: #b5ddff;
}

.app-text{
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
}

.app-text h3{
    color: #0084fd;
    font-size: 30px;
    margin-bottom: 20px;
}

.app-text p{
    color: #5a6e7f;
    line-height: 40px;
    font-size: 20px;
}

.app-text .button-link{
    display: inline-block;
    text-align: center;
    background-color: #0084fd;
    padding: 7px 60px;
    border-radius: 10px;
    text-decoration: none;
    color: #fff;
    margin: 30px 0px;
}

.fa-apple{
    margin-right: 5px;
}

.app-img img{
    width: 100%;
    margin-bottom: -25px;
}

.icon-text{
    text-align: center;
    padding-bottom: 20px;
}

.fa-file-code, .fa-compass-drafting, .fa-laptop-code, .fa-bullhorn{
    font-size: 80px;
    margin-bottom: 20px;
    color: #0084fd;
}

/* Regole section planning */

#planning, #benefits, #get-started{
    background-color: #9792e4;
    padding: 30px 0;
}

.planning-card{
    margin: 80px 0;
}

.planning-card .planning-text{
    color: #fff;
    text-align: left;
    margin-top: 200px;
}

.planning-text p{
    line-height: 30px;
    margin-top: 50px;
}

.planning-card .planning-text h3{
    font-size: 40px;
    margin-top: 20px;
}

.planning-card-border{
    background-color: #fff;
    border-radius: 20px;
    padding: 30px 0;
}

.planning-card-border .planning-text{
    text-align: center;
    color: #000;
    margin-top: 20px;
}

.planning-card-border .planning-text p{
    padding: 0 20px;
}

.planning-card-border .planning-text h3{
    font-size: 30px;
}

.fa-arrow-down{
    margin-top: 30px;
    font-size: 20px;
    background-color: #9792e4;
    padding: 20px;
    border-radius: 100%;
}

.planning-card img{
    width: 100%;
}

/* Regole section testimonials */

.testimonial-text{
    text-align: center;
    line-height: 30px;
}

.testimonial-text h3{
    margin: 30px 0;
    font-weight: 100;
    font-size: 20px;
}

.testimonial-text h2{
    font-size: 40px;
    color: #9792e4;
    margin-bottom: 30px;
}

.testimonial-text p{
    font-size: 20px;
}

.testimonial-card{
    background-color: #9792e4;
    line-height: 30px;
    font-size: 20px;
    text-align: center;
}

.testimonial-card p, h4{
    color: #fff;
    line-height: 40px;
}

.testimonial-card h4{
    font-size: 30px;
}

.testimonial-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
}

.testimonial-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Regole section benefits */

.benefits-card{
    background-color: #fff;
    line-height: 30px;
}

.benefits-card h2, h3{
    color: #9792e4;
    font-size: 40px;
    margin-bottom: 30px;
}

.benefits-card h3{
    font-size: 30px;
}

.benefits-card p{
    color: #5a6e7f;
    margin-bottom: 30px;
}

.benefits-card .button-link{
    text-decoration: none;
    background-color: #9792e4;
    padding: 10px 40px;
    color: #fff;
    border-radius: 20px;
}

/* Regole section about us */

.card-about-us{ 
    width: 100%;
    /* DEBUG */
    min-height: 200px;
    margin: 20px 0;
    background-color: chocolate;
}

/* Regole section get started */

#text-get-started{
    /* DEBUG */
    min-height: 200px;
    margin: 20px 0;
    background-color: chocolate;
}


/*********** REGOLE CSS FOOTER  ************/

footer{
    background-color: #333333;
    /* DEBUG */
    min-height: 300px;
}


