/********* Dimensioni Tablet *********/

@media screen and (min-width:780px) {

    /********** Regole section applicazioni ***********/
    
    #app .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .col{
        width: calc(100% / 3 - 10px);
    }

    .first-col{
        width: calc(100% / 3 * 2 - 5px);
    }

    .app-img{
        width: 100%;
    }

    .app-img img{
        width: 50%;
    }



    /********* Regole section benefits  **********/
    
    #benefits .container{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;
    }

    .benefits-card{
        width: calc(50% - 20px)
    }

    /********** Regole section about us  ************/

    #about-us .container{
        display: flex;
        justify-content: space-between;
        gap: 20px;
    }
}