/********* Dimensioni Tablet *********/

@media screen and (min-width:780px) {

    /********** Regole section applicazioni ***********/
    
    
    #app .container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
    
    .col{
        width: calc(100% / 3 - 10px);
    }

    .first-col{
        width: calc(100% / 3 * 2 - 5px);
    }
}